/*khai bao bien*/
:root {
    --white-color: #ffff;
    --black-color: #0000;
    --text-color: #333;
    --primary-color: #ff520c
    /* bat dau dung khi xay dung phan search */
    /* --header-height:120px;
    --navbar-height: 34px; */

    /* tinh toan chieu cao cua phan search */
    /* --header-with-search-height: calc(var(var(--header-height) - var(var(--navbar-height))));    */
}

*{
    /*cho bon khac ke thua border-box */
    box-sizing: inherit;
    margin-top: 0;
}

html {
    /*62.5%; font-size: 100% tuong tu 16px, font-size: 62.5% tuong duong 10px */
    font-size: 62.5%;

    /*tuong tu 16px cho chieu cao chu*/
    line-height: 1.6rem;

    /*trong luc Roboto chua tai duoc se duoc su dung font sans-serif*/
    font-family: 'Roboto', sans-serif;

    box-sizing: border-box;
}

/*p {*/
/*    !*tuong duong 100% font-size *!*/
/*    font-size: 1rem;*/
/*}*/

.grid {
    /*neu truong hop man hinh > 1200px thi ep no ve 1200 */
    width: 1200px;
    /*neu man hinh < 1200 thi ep ve max < 1200*/
    max-width: 100%;

    /*can giua khoi*/
    margin: 0 auto;
}

/*khong muon su dung  width: 1200px; thi hem class nay */
.grid__full-width {
    width: 100%;
}

/*nhung the nam trong class nay se nam cung tren hang ngang vi  display: flex;, */
.grid__row {
    display: flex;
    /*tong do dai cac thang con > thi xuong dong*/
    flex-wrap: wrap;

    /* khi lam contant san pham, cach de chia ra colimn*/
    margin-left: -12px;
    margin-right: -12px;

    padding-top: 2%;
}

/*thu tu lam */

/*1) lam 1 the chua toan bo web*/
/*2) header */
/*3) container chua noi dung body   */
/*4) footer*/
/*   */
/*lam khung cac phan chinh roi chia nho ra thanh tung phan trong mi layout*/
/*lam tu ngoai cung -> tu tren xuong -> tu ngoai vao cua tung thanh phan 1   */

/* ba cap grid {
    row{
        column
        column
    },
    row {
        column
        colum
    }
} */

/* test */
.grid__column-2{

    margin-left: 12px;
    margin-right: 12px;
    width: 16.6667%;
}

.grid__column-10{
    margin-left: 12px;
    margin-right: 12px;
    /* (100 / 12) * 10 */
    width: 79.3334%; 
}

